.feed {
     flex: 0.6;
     margin: 0 20px;
}

.feed_inputContainer {
     background-color: white;
     padding: 10px;
     padding-bottom: 20px;
     margin-bottom: 20px;
     border-radius: 10px;
}

.feed_input {
     display: flex;
     border: 1px solid lightgray;
     border-radius: 30px;
     color: gray;
     padding: 10px;
     padding-left: 15px;
     align-items: center;
}

.feed_input > form {
     display: flex;
     width: 100%;
}

.feed_input > form > input {
     border: none;
     flex: 1;
     margin-left: 10px;
     outline-width: 0;
     font-weight: 600;
}